
<div>
    <div class="adminMainTitle"><div class="adminSidebarTitleInternal">修改用户</div></div>

    <div class="adminMainPanel">
        <div class="formPanel">
        <form method="post" action="#{ActionLink}" class="ajaxPostForm">
	        <table style="width:100%;">
                
		        <tr>
			        <td style="vertical-align:top;">名字</td>
			        <td><input type="text"  class="tipInput" tip="请输入名字" name="x.Name" value="#{x.Name}" style="width:450px;" />
<span class="valid"  msg="请填写名称"></span></td>
		        </tr>
                
		        <tr>
			        <td style="vertical-align:top;">密码</td>
			        <td><input type="text"  class="tipInput" tip="请输入密码" name="x.Pwd" value="#{x.Pwd}" style="width:450px;" />
<span   ></span></td>
		        </tr>
                
		        <tr>
			        <td style="vertical-align:top;">性别</td>
			        <td><input type="text"  class="tipInput" tip="请输入性别" name="x.Gender" value="#{x.Gender}" style="width:60px;" />
<span   ></span></td>
		        </tr>
                
		        <tr>
			        <td style="vertical-align:top;">简介</td>
			        <td><input type="text"  class="tipInput" tip="请输入简介" name="x.Description" value="#{x.Description}" style="width:450px;" />
<span   ></span></td>
		        </tr>
                
		        <tr>
			        <td style="vertical-align:top;">创建时间</td>
			        <td><input type="text"  class="tipInput" tip="请输入创建时间" name="x.Created" value="#{x.Created}" style="width:250px;" />
<span   ></span></td>
		        </tr>
                
		        <tr>
			        <td>&nbsp;</td><td><input type="submit" class="btn" value="修改数据" /> <input type="button" class="btnReturn" value="返回" /></td>
		        </tr>
	        </table>
        </form>
        </div>
    </div>
</div>
