
<div>
    <div class="adminMainTitle"><div class="adminSidebarTitleInternal">数据列表</div></div>

    <div class="adminMainPanel">

<table cellspacing="1" cellpadding="3"  class="dataAdminList" id="dataAdminList">
    <tr class="adminBar"><td colspan="7"><div><a href="#{addLink}"><img src="~img/add.gif"/> 添加用户</a></div></td></tr>
	<tr class="tableHeader">
        <th>编号</th>
        
		<th>名字</th>
		<th>密码</th>
		<th>性别</th>
		<th>简介</th>
		<th>创建时间</th>
		<th>管理</th>
	</tr>
    <!-- BEGIN list -->
	<tr class="tableItems">
        <td>#{x.Id}&nbsp;</td>
        
        <td>#{x.Name}&nbsp;</td>
        <td>#{x.Pwd}&nbsp;</td>
        <td>#{x.Gender}&nbsp;</td>
        <td>#{x.Description}&nbsp;</td>
        <td>#{x.Created}&nbsp;</td>
		<td>
            <a href="#{x.data.edit}" class="edit">修改</a>
            <a href="#{x.data.delete}" class="deleteCmd delete">删除</a>
        </td>
	</tr>
    <!-- END list -->
</table>
<div>
	#{page}
</div>
</div>
</div>
