
<div>
    <div class="adminMainTitle"><div class="adminSidebarTitleInternal">添加文章</div></div>

    <div class="adminMainPanel">
        <div class="formPanel">
        <form method="post" action="#{ActionLink}" class="ajaxPostForm">
	        <table style="width:100%;">
                
		        <tr>
			        <td style="vertical-align:top;">标题</td>
			        <td><input type="text"  class="tipInput" tip="请输入标题" name="x.Title" value="" style="width:450px;" />
<span class="valid"  msg="请填写标题"></span></td>
		        </tr>
                
		        <tr>
			        <td style="vertical-align:top;">分类</td>
			        <td>#{x.Category}
<span   ></span></td>
		        </tr>
                
		        <tr>
			        <td style="vertical-align:top;">内容</td>
			        <td>#{Editor}
<span class="valid"  msg="请填写内容"></span></td>
		        </tr>
                
		        <tr>
			        <td style="vertical-align:top;">创建时间</td>
			        <td><input type="text"  class="tipInput" tip="请输入创建时间" name="x.Created" value="2013/3/27 13:52" style="width:150px;" />
<span   ></span></td>
		        </tr>
                
		        <tr>
			        <td>&nbsp;</td><td><input type="submit" class="btn" value="添加数据" /> <input type="button" class="btnReturn" value="返回" /></td>
		        </tr>
	        </table>
        </form>
        </div>
    </div>
</div>
