
<div>
    <div class="adminMainTitle"><div class="adminSidebarTitleInternal">数据列表</div></div>

    <div class="adminMainPanel">

<table cellspacing="1" cellpadding="3"  class="dataAdminList" id="dataAdminList">
    <tr class="adminBar"><td colspan="6"><div><a href="#{addLink}"><img src="~img/add.gif"/> 添加文章</a></div></td></tr>
	<tr class="tableHeader">
        <th>编号</th>
        
		<th>标题</th>
		<th>分类</th>
		<th>内容</th>
		<th>创建时间</th>
		<th>管理</th>
	</tr>
    <!-- BEGIN list -->
	<tr class="tableItems">
        <td>#{x.Id}&nbsp;</td>
        
        <td>#{x.Title}&nbsp;</td>
        <td>#{x.Category.Name}&nbsp;</td>
        <td>#{x.data.Summary}&nbsp;</td>
        <td>#{x.Created}&nbsp;</td>
		<td>
            <a href="#{x.data.edit}" class="edit">修改</a>
            <a href="#{x.data.delete}" class="deleteCmd delete">删除</a>
        </td>
	</tr>
    <!-- END list -->
</table>
<div>
	#{page}
</div>
</div>
</div>
